html, body {
  margin-top: 0%;
  background-color: #29404d;
  font-family: 'DM Serif Display', serif;
  
}

.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 100vh auto; /* Adjust the rows */
  gap: 0px 0px;
  grid-template-areas:
    "navbar navbar navbar"
    "title title title"
    "returned-films returned-films returned-films"; /* Adjust grid area */
  justify-items: stretch;
  
  
}

.title {
  grid-area: title;
  height: 80vh; /* Set height to full viewport height */
}

.returned-films {
  grid-area: returned-films;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
  gap: 20px;
  max-height: calc(100vh - 80px); /* Adjust for padding */
  
}

.loading-container {
  position: fixed;
  bottom: 20px; /* Adjust the distance from the bottom as needed */
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure it spans the entire width */
}
