html, body {
  margin-top: 0%;
  background-color: rgb(255, 255, 255);
  font-family: 'DM Serif Display', serif;
}

.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 12vh 88vh 80vh 0vh;
  gap: 0px 0px;
  grid-template-areas:
    "navbar navbar navbar"
    "title title title"
    ". match-button ."
    "returned-film returned-film returned-film";

  justify-items: stretch;
  width: 100vw;
}




  .button-container {
    display: flex;
    justify-content: space-evenly; /* Evenly distribute space between the buttons */
    align-items: center; /* Center the buttons vertically */
    width: 100%;
  }

  .content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
  
  }
  