.returned-films {
  grid-area: returned-results;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.returned-films-item {
  font-family: 'Pixelify Sans', sans-serif;
  width: calc(30% - 20px);
  background-color: #3c4e58;
  border-radius: 40px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  padding: 15px;
  box-shadow: 4px 4px 0 0 #382518; /* Brown shadow */
  border: 4px solid #0a241c;
  background-color: #fbeee0;
  color: #422800;
}
.returned-films-item:hover {
  transform: translateY(-12px); /* Add a subtle hover effect */
}

.returned-films-item h2 {
  margin: 30px;
  font-size: 30px;
  font-weight: bold;
  color: #ec710c;
  justify-content: center;
}

.returned-films-item p {
  margin-bottom: 8px;
  font-size: 25px;
  color: #000000;
}

.returned-films-item img {
  width: 100%;
  height: auto;
  border-radius: 40px 40px 40px 40px; /* Rounded corners only at the top */
}
