.returned-films {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.returned-films-item {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: calc(30% - 20px);
  margin-bottom: 20px;
  background-color: #fbeee0;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  padding: 15px;
  box-shadow: 4px 4px 0 0 #382518;
  border: 4px solid #0a241c;
  color: #422800;
  box-sizing: border-box;
}

.returned-films-item:hover {
  transform: translateY(-10px);
}

.returned-films-item h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #ec710c;
  text-align: center;
}

.returned-films-item p {
  margin-bottom: 5px;
  font-size: 18px;
  text-align: center;
}

.returned-films-item img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}


.returned-films-date {
  font-family: 'Courier New', Courier, monospace;
  color: #ec710c;
}

@media screen and (max-width: 480px) {
  .returned-films-item {
    width: calc(100% - 20px);
  }
}
