.title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 50pt;
  background-color: #29404d;
  
}

.underline {
  
  color: antiquewhite;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 30pt; /* Adjust font size for smaller screens */
    padding: 20px; /* Add padding or adjust layout as needed */
  }
}