.results-div {
  background-color: antiquewhite;
  display: grid; 
  height: 100vh; /* Set the height of the container to 100vh */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 50vh 50vh; /* Each row takes up 50vh */
  gap: 20px 20px; 
  grid-template-areas: 
    ". . . . ."
    ". . . . ."; 
}

